[general]
mode          = single
loop_time     = 180
operation     = automatic

[auth]
user_agent    = FlairSync by /u/jwilliams108
client_id     = {{client_id}}
client_secret = {{client_secret}}
refresh_token = {{refresh_token}}

[debug]
level = NOTICE

[flairsync]
subreddits   = {{comma separated list of subnames}}
valid_flairs = {{regex}}
