[flairsync]
user_agent    = FlairSync by /u/jwilliams108
client_id     = {{client_id}}
client_secret = {{client_secret}}
mode          = continuous
loop_time     = 180
operation     = automatic

[reddit]
username    = {{username}}
password    = {{password}}

[source]
source_subs = {{comma separated list of subnames}}

[flairs]
valid = {{regex}}

[debug]
level = NOTICE
